:root {
  --dark-purple: #7903e9;
  --bright-purple: #8c37f6;
  --teal-green: #07b6c7;
  --orange-yellow: #f5bd1f;
}

html {
  /* font-size: 14px !important; */
  font-family: Lato, Glacial Indifference;
}

body {
  /*font-weight: 100;*/
  /* font-size: 1rem; */
  line-height: 1.5;
  color: black;
  background-color: white;
}

body.fixed-sidebar.mini-navbar #page-wrapper {
  margin: 0;
}

body.mini-navbar #page-wrapper {
  margin: 0 0 0 70px;
}

p {
  font-family: Lato, Glacial Indifference;
}

/* Navbar */

.navbar {
  margin-bottom: 0;
  background-color: var(--dark-purple);
  position: fixed;
  z-index: 999;
}

.navbar .navbar-header a {
  text-decoration: none;
  color: white;
}

.navbar .navbar-header a:hover {
  text-decoration: none;
}

/* .navbar .navbar-header a .logo {
  width: 150px;
}

.navbar .navbar-header a .logo .brand {
  width: fit-content;
  font-weight: bold;
  font-size: 1.25rem;
  display: block;
}

.navbar .navbar-header a .logo .site {
  letter-spacing: 3px;
} */

nav .navbar-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end !important;
}

body.fixed-sidebar.mini-navbar .nav-label,
body.fixed-sidebar.mini-navbar .narbar-default .nav li a span,
body.canvas-menu.mini-navbar .nav-label,
body.canvas-menu.mini-navbar .navbar-default .nav li a span {
  display: inline;
  font-size: 16px;
  margin: 15px;
}

body.mini-navbar .profile-element,
body.mini-navbar .nav-label,
body.mini-navbar .navbar-defult .nav li a span {
  display: none;
}

body.mini-navbar .navbar-default .nav > li > a {
  font-size: 16px;
}

.nav.navbar-right {
  margin-right: 0;
}

.nav.navbar-right > li > a {
  color: white;
}

.nav.navbar-top-links li {
  display: inline-block;
}

.nav.navbar-top-links a {
  font-size: 14px;
}

.nav.navbar-top-links li a {
  /* padding: 14px 10px; */
  padding: 14px 20px;
  min-height: 50px;
}

/* Navbar */

/* Body */
.body {
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 2.75rem;
}

.border-bottom {
  border-bottom: 1px solid white !important;
}

.top-bar-text {
  background-color: var(--dark-purple);
  color: white;
  padding: 0.5rem 1rem;
  border-top: 1px solid white;
  box-sizing: border-box;
  margin-top: 4px;
}

.top-bar-text p {
  padding: 0 15px;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

.navbar-toggler {
  display: none;
  font-size: 24px;
  margin: 10px 20px;
  color: white;
  text-decoration: none;
}

/* Article */
/* .article-container {
   max-width: 1400px; 
  margin: auto;
} */

.article-card-container {
  margin-top: 10px;
  display: flex;
  flex-flow: wrap;
}

.article-card {
  display: flex;
  flex-flow: wrap;
  width: 300px;
  padding: 0.5em 1em;
  align-content: flex-start;
}

.article-card .img-div {
  height: 160px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 30%);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.article-card .img-div .topic-tag {
  font-size: 14px;
  margin-top: 10px;
  padding: 0.5em 1em;
  color: white;
}

.article-card .img-div .topic-tag.learning {
  background-color: var(--orange-yellow);
}

.article-card .img-div .topic-tag.guides {
  background-color: var(--teal-green);
}

.article-card .img-div .topic-tag.vodusupdates {
  background-color: var(--dark-purple);
  color: yellow;
}

.article-card .img-div .topic-tag.payments {
  background-color: darkslategrey;
}

.article-card .img-div .topic-tag.industrynews {
  background-color: #6666ff;
}

.topics {
  padding: 0 15px;
  margin: 10px 5%;
}

.topic-card {
  padding: 0.5em 1em;
  color: gray;
  border: 1px solid gray;
  border-radius: 3px;
  margin: 5px;
  cursor: pointer;
  font-style: italic;
}

.topic-card.selected {
  border-color: var(--bright-purple);
  color: var(--bright-purple);
}

.card-content {
  margin: 10px;
}

.card-content a {
  color: var(--bright-purple);
  cursor: pointer;
}

.card-title {
  margin: 0;
}

.card-paragraph p {
  margin: 0;
  color: gray;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  white-space: normal;
}

.card-content h5 {
  font-weight: 600;
  line-height: 1.4em;
}

/* Body */

.full-width {
  width: 100%;
}

@media (min-width: 993px) {
  .navbar-right {
    display: flex !important;
    justify-content: flex-end;
  }
}

@media (max-width: 992px) {
  .nav.navbar-right,
  .nav.navbar-right.navbar-collapse {
    position: absolute;
    z-index: 999;
    background: white;
    transform: rotate(180deg);
    right: -16px;
    top: 63px;
    box-shadow: 0 0 5px 0 #aaa;
    padding: 10px 20px 5px;
    list-style-type: none;
    width: max-content;
    display: block;
    border-top: 4px solid var(--bright-purple);
    border-radius: 3px;
  }

  .nav.navbar-right.navbar-collapse.collapse {
    display: none;
  }

  .nav.navbar-right.navbar-collapse.collapse.show {
    display: block !important;
  }

  .nav.navbar-right > li {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform: rotate(180deg);
    opacity: 1;
    transition: opacity 1s ease-in;
  }

  .nav > li > a {
    color: black !important;
    opacity: 0.5;
  }

  .nav > li > a:hover {
    opacity: 1;
  }

  .navbar-toggler {
    display: block;
  }

  .body {
    padding-top: 67px;
  }

  /* Article */
  .article-card {
    width: 50%;
  }
  /* Article */
}

@media (max-width: 450px) {
  .article-card {
    width: 100%;
  }
}
